{% if page.article_title %}
    <title>{{ page.article_title }}</title>
{% else %}
    <title>{{ page.seo_title }}</title>
{% endif %}

<!-- BEGIN meta -->
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- END meta -->

<!-- BEGIN seo -->
<meta name="twitter:card" content="summary"/>
<meta name="twitter:site" content="@CekurteSistemas"/>
<meta name="twitter:domain" content="Nootícias"/>
<meta name="twitter:creator" content="@CekurteSistemas"/>
<meta property="og:locale" content="pt_BR" />
<meta property="og:site_name" content="Nootícias" />
{% if page.article_title %}
<meta property="og:title" content="{{ page.article_title }}" />
{% else %}
<meta property="og:title" content="{{ page.seo_title }}" />
{% endif %}
<meta property="og:url" content="{{ page.url | prepend: site.url }}" />
<meta property="og:type" content="website" />

{% if page.article_description %}
<meta name="description" content="{{ page.article_description }}"/>
<meta property="og:description" content="{{ page.article_description }}" />
{% else %}
<meta name="description" content="O Nootícias surgiu não só para agregar conteúdos dos maiores portais brasileiros, mas para disponibilizar a você o conhecimento desejado em um único local."/>
<meta property="og:description" content="O Nootícias surgiu não só para agregar conteúdos dos maiores portais brasileiros, mas para disponibilizar a você o conhecimento desejado em um único local." />
{% endif %}
<link rel="canonical" href="{{ page.url | prepend: site.url }}" />
<!-- END seo -->
