<div class="row banner banner-top hidden-xs">
    <div class="col-xs-12">
        <div class="center-block text-center">
            {% include google-adsense-728x90.html %}
        </div>
    </div>
</div>
<div class="row">
    <section class="col-xs-12 col-sm-12 col-md-8">
        <header>
            <h1>O que você Procura?</h1>
            <small>Veja abaixo as categorias presentes em nosso website.</small>
        </header>
        <div>
            {% for category in site.categories %}
                {% assign category_slug  = category[0] %}
                {% assign category_title = site.data.categories[category_slug].title %}

                <a class="custom-button" href="{{ category_slug | prepend: '/' | prepend: site.url }}">{{ category_title }} ({{ category[1].size }})</a>
            {% endfor %}
        </div>
    </section>
    <section class="col-md-4 hidden-xs hidden-sm">
        <div class="pull-right">
            {% include google-adsense-300x250.html %}
        </div>
    </section>
</div>