<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Menu</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Nootícias</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul id="menu" class="nav navbar-nav">
                <li{% if page.app_menu == "home"  %} class="active"{% endif %}><a href="{{ site.url }}">Home</a></li>
                <li{% if page.app_menu == "about" %} class="active"{% endif %}><a href="{{ site.url }}/about/">Sobre</a></li>
                <li{% unless page.app_menu == "home" or page.app_menu == "about" %} class="active"{% endunless %}><a href="{{ site.url }}/blog/">Nootícias</a></li>
            </ul>
            <ul class="nav navbar-nav pull-right">
                <li class="active cekurte">
                    <a href="http://sistemas.cekurte.com" rel="me" target="_blank" data-ga-label="Link da Cekurte Sistemas na NavBar">Cekurte Sistemas <span class="custom-icon custom-icon-white custom-icon-white custom-icon-new-window"></span></a>
                </li>
            </ul>
        </div><!--/.nav-collapse -->
    </div>
</nav>