<ul class="pagination">
    {% if paginator.previous_page %}
        <li>
            <a rel="prev" href="{{ paginator.previous_page_path | prepend: site.url }}" class="previous">Previous</a>
        </li>
    {% else %}
        <li class="disabled">
            <span>Previous</span>
        </li>
    {% endif %}

    {% if paginator.next_page %}
        <li>
            <a rel="next" href="{{ paginator.next_page_path | prepend: site.url }}" class="next">Next</a>
        </li>
    {% else %}
        <li class="disabled">
            <span>Next</span>
        </li>
    {% endif %}
</ul>
