---
layout: default
app_menu: blog
seo_title: Blog
---

<div class="row">
    {% include sidebar.html %}
    <section class="col-xs-12 col-sm-9">
        <header>
            {% assign category_slug  = page.category %}
            {% assign category_title = site.data.categories[category_slug].title %}
            <h1>Listagem de <span>Posts</span> da categoria <span>{{ category_title }}</span> <small class="page_number">(Página {{ paginator.page }} de {{ paginator.total_pages }})</small></h1>
            <small>Veja abaixo os posts da categoria <strong>{{ site.categories[page.category].title }}</strong>.</small>
        </header>
        <div class="row posts">
            {% include posts.html %}
            <div class="col-xs-12">
                <nav>
                    <div class="pull-right">
                        {% include posts-pagination.html %}
                    </div>
                </nav>
            </div>
        </div>
    </section>
</div>
